/* General styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.contact {
}

.hero {
  text-align: center;
  padding: 50px;
  background-color: #f9f9f9;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #555;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}



.img-box{
    position: fixed;
    top: 50%;
    left: 50%;

    /* transform: translateX(-50%); */
    /* transform: translateY(-50%); */
    transform: translate(-50%, -50%);
}

.img-box2 {
    /* height: 100px;
    width: 100px;
    background-color: #555;
    border-radius: 50%; */
    display: none;
    visibility: hidden;
}

.img-logo {
  height: 100px;
  /* width: 100px; */
  border-radius: 50%;

  animation-name: animation-example2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 0ms;  
}

@keyframes animation-example2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.hero h1 {
    animation-name: animation-example1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    /* transition: all 0.4s ease-in-out; */
  }

@keyframes animation-example1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}



/* Responsive Design */
@media (max-width: 500px) {
  .hero h1 {
    font-size: 5px;
    /* padding: 30px; */
  }
}

@media (min-width: 600px) {
  .hero p {
    font-size: 50px;
  }
}
